.search {
display:flex;
align-items: flex-start;
background-color: whitesmoke;
border-radius: 1%;
justify-content: space-between;
color: grey;
margin-left: 3%;
width: 45%;
}
  
  .searchIcon {
   margin-top: 1%;
   margin-left: 3%;
   margin-right: 4%;
  }
.iconsdiv{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.avatar{
  flex:1
}
.refreshicon{
  color: dimgray;
}
.drawer{
  width: 23%;
}
  