.search {
display:flex;
align-items: flex-start;
background-color: whitesmoke;
border-radius: 1%;
justify-content: space-between;
color: grey;
margin-left: 3%;
width: 45%;
}
  
  .searchIcon {
   margin-top: 1%;
   margin-left: 3%;
   margin-right: 4%;
   display: flex;
 
  }

  