.textfieldsregistration{
  
    margin-top: 5%;
    color: firebrick;
    justify-content: space-evenly;
}
.cardregistration{
    width: 40%;
    height: 100%;
    /* background-color: #bfbfbf; */
    background-color: red;
    display: flex;
    margin-top: 1%;
    margin-left: 30%;
    flex-direction: column;
    justify-content:center;
    }
    .errorMsgregistration{
        color: #cc0000;
        margin-bottom: 12px;
      }
      .nametextfields{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      @media only screen and (max-width: 800px) {
        .nametextfields {
         display: flex;
         flex-direction: column;
        }
    }